<%= simple_form_for(@article) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :headline %>
    <%= f.input :category %>
    <%= f.input :subhead %>
    <%= f.input :article %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
