
<% @articles.each do |article| %>
  <div class="wrapper">
    <div class="product-img">
      <img src="http://bit.ly/2tMBBTd" height="420" width="327">
    </div>
    <div class="product-info">
      <div class="product-text">
        <h1><%= link_to article_path(article) do %>
              <%= article.headline %>
            <% end %> </h1>
            <p><%= article.subhead %></p>
      </div>
      <div class="product-price-btn">
        <%= link_to article_path(article), class: "button" do %> Read More
      <% end %>
      </div>
    </div>
  </div>
<% end %>

<br>
<%= link_to 'New Article', new_article_path %>
