

  <p></p><strong> <%= @article.headline %></strong>
  <p><i><%= @article.subhead %></i></p>
  <p><%= @article.article %></p>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
